/// <reference types="./env" />
// @ts-check
// TODO: pool-initializerから吐き出す？
process.env.COGNITO_CLIENT_ID = "";
process.env.N8N_API_KEY = "";
process.env.N8N_BASE_ENDPOINT = "";
process.env.N8N_BACKEND_DB_TYPE = "none";
process.env.N8N_BACKEND_DB_CONNECTION_STRING = "";
